version: '3.8'

services:
  backend:
    build: .
    ports:
      - '3001:3000'
    environment:
      # 중요: 'localhost'가 아니라 도커 서비스 이름인 'db'를 써야 합니다.
      DATABASE_URL: 'mysql://root:rootpassword@db:3306/testdb'
    depends_on:
      - db

  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
    ports:
      - '3308:3306'
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
